<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.le.ssm.dao.UserDao">
	<resultMap type="User" id="UserMap">
		<id column="id" property="id"/>
		<result column="userName" property="userName"/>
		<result column="sex" property="sex"/>
		<result column="birthday" property="bitthday"/>
	</resultMap>
	
	<sql id="ColumnsAll">
		<trim suffixOverrides=",">
			<if test="id != null">id,</if>
			<if test="userName != null">userName,</if>
			<if test="sex != null">sex,</if>
			<if test="bitthday != null">birthday,</if>
		</trim>
	</sql>
	<sql id="ValuesAll">
		<trim suffixOverrides=",">
			<if test="id != null">#{id},</if>
			<if test="userName != null">#{userName},</if>
			<if test="sex != null">#{sex},</if>
			<if test="birthday != null">#{birthday},</if>
		</trim>
	</sql>
	
	<select id="selectAll" resultMap="UserMap">
		select <include refid="ColumnsAll"/> from user 
	</select>
	
</mapper>